<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>05837 Byte-2: Exploring Data and Using an API</title>
	</head>
	<body>
		<div>
			<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col16%3E%3E0+from+1l8GVeoIMH5ggV-UF3khJ5SDMT7RN4H9wwzRLsr4&amp;viz=MAP&amp;h=false&amp;lat=38.20772069476574&amp;lng=-85.75730426788328&amp;t=1&amp;z=13&amp;l=col16%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
		</div>
	</body>
</html>